<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" >
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="item "><i class="home icon"></i> 首页</a>
            <a href="#" class="item"><i class=" idea icon"></i> 分类</a>
            <a href="#" class="item"><i class=" tags icon"></i> 标签</a>
            <a href="#" class="item"><i class=" clone icon"></i> 归档</a>
            <a href="#" class="item"><i class="  info icon"></i> 关于我</a>

            <div class="right item">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search....">
                    <i class="search icon"></i>
                </div>

            </div>
            
        </div>
    </div>
</nav>

<!--中间内容-->
<div class=" m-padded-tb-large m-container">
    <div class="ui container">
        <div class="ui stackable grid">
<!--        左边博客列表-->
            <div class="eleven wide column">
<!--                header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <div class="ui green header">博客</div>
                        </div>
                        <div class=" right aligned column">
                            共<h3 class="ui red header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h3>篇
                        </div>
                    </div>
                </div>
<!--                content-->
            <div class="ui attached  segment">
                <div class="ui padded vertical segment m-padded-tb-large"  th:each="blog : ${page.content}">
                    <div class="ui middle aligned stackable mobile reversed grid">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a href="#"style="color: black" th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}" target="_blank">答辩</a></h3>
                            <p th:text="|${blog.description}......|">只答不辩，再问道歉--答辩是一种有组织、有准备、有计划、有鉴定的比较正规的审查论文的重要形式。</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" th:src="@{/about}" target="_blank" class="header" th:text="${blog.user.nickname}">吴彦祖</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#dates.format(blog.updataTime,'yyyy-MM-dd')}">2020-6-15</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i><span th:text="${blog.views}">6</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" th:href="@{/types/{id}(id=${blog.type.id})}"  class="ui green basic m-padded-mini label m-text-thin " th:text="${blog.type.name}">认知升级</a>
                                </div>
                            </div>
                        </div>

                        <div class="five wide column">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1015" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>




            </div>
<!--            footer-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <!--                            basic:背景色变透明-->
                            <a href="#" th:href="@{/(page=${page.number}-1)}" class="ui green mini basic button" th:unless="${page.first}">上一页</a>
                        </div>
                        <div class=" right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}" class="ui green mini basic button" th:unless="${page.last}">下一页</a>
                        </div>
                    </div>
                </div>
            </div>

<!--        右边的top    -->
            <div class="five wide column   m-padded-tb-large ">
<!--            分类-->
                <div class="ui segments">
                    <!--                    secondary 加灰色-->
                    <div class="ui secondary segment">
                        <div class="ui  two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类 </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/types/-1}" target="_blank">more <i class="angle double right icon "></i></a>
                            </div>
                        </div>
                    </div>
                    <!--                    分层加线-->
                    <div class="ui green segment ">
                        <!--                        竖菜单 fluid填充容器-->

                        <div class="ui fluid vertical menu">
                            <a href="#"  th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">数学笔记</span>
                                <div class="ui green basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>

                        </div>
                    </div>
                </div>
<!--            标签    -->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui  two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签 </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/tags/-1}" target="_blank">more <i class="angle double right icon "></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui green segment ">
                        <div class="ui fluid vertical menu">
                        <a href="#"  th:href="@{/tags/{id}(id=${tag.id})}" class="ui green basic left pointing label m-margin-tb-tiny" th:each="tag : ${tags}">
                            <span th:text="${tag.name}">论文</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                        </a>
                        </div>

                    </div>
                </div>
<!--            最新推荐   -->
                <div class="ui segments">
                    <div class="ui secondary segment ">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a href="#" target="_blank" class="m-black m-text-thin" th:href="@{/blog/{id}(id=${blog.id})}" style="color: #333" th:text="${blog.title}">用户故事</a>
                    </div>


                </div>
<!--            二维码-->
                <!--                divider分割线-->
                <h4 class="ui horizontal divider header m-margin-top-large">
                    扫码关注我
                </h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/idCard.png" th:src="@{/images/idCard.png}" alt="" class="ui rouded image">
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<br>

<!--底部footer-->
<!--vertical：消除圆角 segment 分段-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
<div class="ui center aligned container">
    <div class="ui divided inverted stackable grid">
        <div class="three wide column">
            <div class="item">
                <img src="../static/images/idCard.png" th:src="@{/images/idCard.png}" class="ui rounded image" alt="" style="width:110px">
            </div>
       </div>
        <div class="three wide column">
            <h4 class="ui inverted header">最新博客</h4>
            <div class="ui inverted link list">

                   <a href="#" class="item">MySql安装</a>
                   <a href="#" class="item">Python安装</a>
                   <a href="#" class="item">Java安装</a>

            </div>

        </div>
        <div class="three wide column">
            <h4 class="ui inverted header">联系我</h4>
            <div class="ui inverted link list">
                <a href="#" class="item">QQ:1436372974</a>
                <a href="#" class="item">Email:1436372974@qq.com</a>
            </div>

        </div>
        <div class="seven wide column">
            <h4 class="ui inverted header ">关于</h4>
            <p class="m-text-thin m-text-lined m-opacity-mini">这是我的个人博客及课程设计项目</p>
        </div>

    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-lined m-opacity-mini">Copyright@2020 Blog by Wuyanzu</p>
</div>
</footer>

<th:block th:replace="_fragments :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../static/lib/prism/prism.js"></script>
    <script src="../static/lib/qrcode/qrcode.min.js"></script>
    <script src="../static/lib/tocbot/tocbot.min.js"></script>
    <script src="../static/lib/waypoints/jquery.waypoints.min.js"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');

        });
    </script>
</th:block>


</body>
</html>